@import url(./normalize.css);

@font-face {
  font-family: "IRANSansWeb";
  src: url(../fonts/IRANSansWeb.woff2) format("woff2"),
    url(../fonts/IRANSansWeb.woff) format("woff");
}

:root {
  --color-primary: #032656;
  --color-secondary: #252c41;
  --color-accent: #d40c4b;
  --color-headings: #222;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typographi */

::selection {
  background: var(--color-primary);
  color: #fff;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 1.8rem;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1;
}

body {
  font-family: "IRANSansWeb", Times, serif;
  direction: rtl;
  font-size: 2rem;
  color: var(--color-body);
  line-height: 1.5;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/* links */

.material-symbols-outlined {
  padding: 1rem;
}

/* icon */

.icon {
  width: 40px;
  height: 40px;
}

.icon--small {
  width: 30px;
  height: 30px;
}

.icon--primary {
  color: var(--color-primary);
}

.icon--white {
  color: #fff;
}

.icon-container {
  background: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon-container--accent {
  background: #ef346f;
}

/* Badge */

.badge {
  padding: 0.25rem 1.5rem;
  white-space: nowrap;
  box-shadow: 0px 0px 0px 7px rgba(255, 255, 255, 0.2);
  font-size: 1.8rem;
  border-radius: 2px;
}

/* Button */

.btn {
  padding: 1.5rem 3vw;
  border: 0;
  border-radius: 5px;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  outline: 0;
  cursor: pointer;
}

.btn-group {
  display: flex;
}
.btn-group .btn {
  max-width: fit-content;
  padding: 0.5rem 1rem;
}

.btn--primary {
  background: #fff;
  color: var(--color-accent);
  border: 1px solid #ccc;
}

.btn--primary:hover {
  background: var(--color-accent);
  color: #fff;
}

.btn--secondary {
  background: #00ba74;
  color: #fff;
}

.btn--secondary:hover {
  background: #41b186;
  color: #fff;
}

.btn--accent {
  background: var(--color-accent);
  color: #fff;
}

.btn--accent:hover {
  background: #d91f5b;
}

.btn .material-symbols-outlined {
  background: #fff;
  color: #222;
  border-radius: 3px;
  margin-right: 2rem;
  vertical-align: middle;
}

/* Input */

.input {
  padding: 2rem 1.5rem;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: var(--color-headings);
  font-size: 2rem;
}

::placeholder {
  color: #cdcbd7;
}
.input-group {
  display: flex;
  border: 1px solid #cdcbd7;
}

.input-group .input {
  border: 0;
  flex-grow: 1;
  padding: 0.5rem;
}

.input-group .btn {
  margin: 4px;
}

/* Collapsibles */

.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

.collapsible__chevron {
  transform: rotate(90deg);
  transition: transform 0.3s;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
  max-height: 100%;
  opacity: 1;
}
