@import url(./normalize.css);

@font-face {
  font-family: "IRANSansWeb";
  src: url(../fonts/IRANSansWeb.woff2) format("woff2"),
    url(../fonts/IRANSansWeb.woff) format("woff");
}

:root {
  --color-primary: #032656;
  --color-secondary: #252c41;
  --color-accent: #d40c4b;
  --color-headings: #222;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typographi */

::selection {
  background: var(--color-primary);
  color: #fff;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 1.8rem;
}

h1,
h2,
h3,
h4 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1;
}

body {
  font-family: "IRANSansWeb", Times, serif;
  direction: rtl;
  font-size: 2rem;
  color: var(--color-body);
  line-height: 1.5;
  height: 100vh;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }

  h4 {
    font-size: 1.8rem;
  }
}

/* links */

a {
  text-decoration: none;
}

.highlight {
  color: var(--color-accent);
}

/* icon */

.icon {
  width: 30px;
  height: 30px;
}

.icon--small {
  width: 20px;
  height: 20px;
}

.icon--star {
  color: gold;
}

.icon--accent {
  fill: var(--color-accent);
}

.icon--logo {
  fill: var(--color-body);
  opacity: 0.5;
  width: 20rem;
}

.icon--primary {
  color: var(--color-primary);
}

.icon--white {
  color: #fff;
}

.icon-container {
  background: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon-container--accent {
  background: #ef346f;
}

/* Badge */

.badge {
  background: #fff;

  white-space: nowrap;
  width: 15%;
  padding: 0.5rem 0;
  text-align: center;
  box-shadow: 0px 0px 0px 7px rgba(255, 255, 255, 0.2);
  font-size: 2rem;
  border-radius: 2px;
}

/* Button */

.btn {
  padding: 1.5rem 3rem;
  border: 0;
  border-radius: 5px;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  outline: 0;
  cursor: pointer;
}

.btn-group {
  display: flex;
}
.btn-group .btn {
  max-width: fit-content;
  padding: 0.5rem 1rem;
}

.btn--primary {
  background: #fff;
  color: var(--color-accent);
  border: 1px solid #ccc;
}

.btn--primary:hover {
  background: var(--color-accent);
  color: #fff;
  border: 0;
}

.btn--secondary {
  background: #00ba74;
  color: #fff;
}

.btn--secondary:hover {
  background: #41b186;
  color: #fff;
}

.btn--accent {
  background: var(--color-accent);
  color: #fff;
}

.btn--accent:hover {
  background: #d91f5b;
}

.btn--soft {
  background: #d1f6e6;
  color: #63ad6b;
  border-radius: 30px;
  font-size: 1.2rem;
  width: inherit;
  padding: 1rem 2rem;
  height: fit-content;
}

.btn--soft:hover {
  background: #e0f5ec;
}

.btn .icon {
  background: #fff;
  color: var(--color-accent);
  border-radius: 3px;
  margin-right: 2rem;
  vertical-align: middle;
}

.btn .icon--small {
  vertical-align: middle;
}

/* Input */

.input {
  padding: 2rem 1.5rem;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: var(--color-headings);
  font-size: 2rem;
}

::placeholder {
  color: #cdcbd7;
}
.input-group {
  display: flex;
  border: 1px solid #cdcbd7;
  width: 45vw;
  margin: 0 auto;
}

.input-group .input {
  border: 0;
  flex-grow: 1;
  padding: 0.5rem;
  overflow: hidden;
}

.input-group .btn {
  margin: 4px;
}

/* Collapsibles */

.collapsible__header {
  display: flex;
  padding-right: 10px;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
  cursor: pointer;
}

.collapsible__chevron {
  transform: rotate(0deg);
  transition: transform 0.3s;
  cursor: pointer;
  padding-right: 2px;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(90deg);
}

.collapsible--expanded .collapsible__content {
  max-height: 100%;
  opacity: 1;
}

/* List */

.list {
  list-style: none;
  padding-right: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
  color: var(--color-headings);
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* Media */

.media {
  display: flex;
  vertical-align: middle;
  margin: 1rem 1.5rem;
}

.media > a {
  font-size: 1.4rem;
  margin-right: 1rem;
  color: var(--color-body);
  float: left;
}

.media__user-image {
  width: 40px;
  border-radius: 100%;
  object-fit: cover;
}

.media .media__username {
  color: var(--color-headings);
  font-weight: bold;
  padding: 1rem 0;
}

/* cards */

.card {
  display: flex;
  width: fit-content;
  padding: 2rem 1rem;
  border-radius: 5px;
  box-shadow: 0 0 30px 10px #ccc;
}

.card__header .media {
  display: inline-block;
  font-size: 1.5rem;
}

.card--simple {
  background: #f8c6d5;
  color: var(--color-accent);
  transition: transform 0.3s;
}

.card--simple:hover {
  transform: scale(1.1);
}

.card--sale {
  padding: 0;
  flex-direction: column;
}

.card--teacher {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__socialmedia .icon {
  margin: 0.5rem;
}

.card--teacher-image {
  width: 10rem;
  border-radius: 100%;
}

.card__heading {
  margin: 1rem 2.5rem;
  color: var(--color-accent);
}

.card__image {
  width: 100%;
  object-fit: cover;
}

.card__header {
  position: relative;
}

.card__header .badge {
  display: inline-block;
  position: absolute;
  right: 3%;
  top: 1.5rem;
}

.card__content {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #3c3737;
  padding: 0 1rem 1rem;
  width: inherit;
  justify-content: space-around;
}

.card__footer {
  display: flex;
  width: inherit;
  justify-content: space-between;
  padding: 1rem;
}

/* Grids */
.grid {
  display: grid;
}

.grid .number {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .grid--1x2,
  .grid--1x4,
  .grid--1x3 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid--1x4 {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Block */

.block {
  --padding-vertical: 5rem;
  padding: var(--padding-vertical) 2rem;
}

.block__header {
  text-align: center;
  margin-bottom: 4rem;
}

.block__header p {
  margin-bottom: 0.5rem;
}

.block__heading {
  margin-top: 0;
}

.block--dark {
  background: var(--color-primary);
  color: #7b858b;
}

.block--fade {
  background: #f4f5f7;
  color: #7b858b;
}
.block--accent {
  background: var(--color-accent);
  color: #fff;
}

.block--dark h1,
.block--dark h2,
.block--dark,
.block--accent h3 {
  color: #fff;
}

.container {
  max-width: 1432px;
  margin: 0 auto;
}

/* Navigation Bar */
.nav {
  background: var(--color-primary);
  border-bottom: 1px solid #4c4b4b;
}

.nav__topic {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  align-items: baseline;
  gap: 2rem;
}

.nav__band-name {
  font-family: "Josefin Slab", serif;
  font-weight: 900;
  margin-right: 2rem;
}

.nav__brand h2 {
  color: #fff;
  text-align: center;
}

.nav .collapsible__heading {
  font-size: 2rem;
}

.nav h1,
.nav h2,
.nav h3,
.nav a {
  color: #fff;
  margin-bottom: 0;
}

.nav__list {
  margin: 0 0 1rem;
}

.nav__item:last-child {
  border: 0;
}

.nav__item {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #444;
}

.nav__btn {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 2rem;
  height: fit-content;
}

@media screen and (min-width: 768px) {
  .nav .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .nav__topic {
    padding: 4rem 0 0;
  }

  .nav__btn {
    order: 1;
  }
}

/* Hero */

.hero__banner {
  width: 100%;
}

.hero .btn-group {
  justify-content: center;
}

.hero__content .block__heading {
  margin-bottom: 2.5rem;
}

@media screen and (min-width: 768px) {
  .hero__content {
    text-align: right;
    align-self: center;
    padding: 5rem;

    line-height: 1.5;
  }

  .hero .btn-group {
    justify-content: right;
  }
}

/* Features */

.feature {
  display: flex;
  padding: 2rem 4rem;
  gap: 2rem;
  border-left: 1px solid #c69b9b;
  justify-content: center;
  font-size: 1.5rem;
}

.feature:last-child {
  border: 0;
}

.feature__content {
  display: flex;
  flex-direction: column;
}

.feature__content h4 {
  color: #fff;
}

.feature .icon {
  width: max-content;
  object-fit: fill;
  align-self: center;
}

.feature .icon-container {
  align-self: center;
}

/* Plan Block */

.plan .grid {
  gap: 2rem 4rem;
}

.plan .card {
  width: initial;
}

.plan .highlight {
  color: var(--color-accent);
}

@media screen and (min-width: 768px) {
  .grid--1x3 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* logo */

.logo__content {
  display: flex;
  justify-content: space-between;
}

.logo .block__header {
  margin: 0;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  background: #252c41;
}

.footer__section .list {
  padding: 0 1rem 1rem;
  margin: 0;
}

.footer__section {
  padding: 0 2rem;
}

.footer h4,
.footer h2 {
  color: #fff;
  font-size: 1.8rem;
}

.footer .icon-container {
  background: #3d4048;
  width: 4rem;
  height: 4rem;
}

.footer .collapsible__header {
  justify-content: space-between;
  margin-bottom: 1rem;
}

.footer .collapsible {
  border-bottom: 1px solid var(--color-body);
  margin-bottom: 2rem;
}

.footer__appdown .icon-container {
  border-radius: 0;
  background: inherit;
  width: 75%;
  height: 12rem;
  border: 1px solid var(--color-body);
  justify-content: space-evenly;
  align-items: center;
}

.icon-container a {
  color: var(--color-body);
}

.footer__appdown {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin-top: 1.5rem;
}

.footer .icon {
  width: 5rem;
  height: 5rem;
}

.footer__link {
  justify-content: center;
  margin-bottom: 2rem;
}

.footer__address {
  display: flex;
  justify-content: center;
  margin: 0 1rem;
}

.footer__address a {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .footer .grid {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }

  .footer .collapsible__chevron {
    display: none;
  }

  .footer .collapsible {
    border: 0;
  }

  .footer .collapsible__content {
    max-height: max-content;
    opacity: 1;
    border: 0;
  }

  .footer__appdown {
    order: 1;
  }

  .footer__address {
    order: -1;
  }

  .footer .footer__appdown {
    margin-top: 0;
  }

  .footer h1 {
    margin: 0 0 2rem;
    font-size: 3.5rem;
  }

  .footer__section .collapsible__header {
    font-size: 2rem;
  }
}
