<div class="card card--simple">
  <div class="icon-container">
    <ion-icon class="icon" name="logo-python"></ion-icon>
  </div>
  <div class="card__body">
    <h3 class="card__heading">برنامه نویسی وب</h3>
    <div class="media">
      <ion-icon class="icon--small" name="film-outline"></ion-icon>
      <a href="#">۸۵ دوره آموزشی</a>
    </div>
  </div>
</div>

<div class="card card--sale">
  <header class="card__header">
    <img src="images/co-1.jpg" alt="" class="card__image" />
    <span class="badge"> ۶۷ ت </span>
    <h3 class="card__heading">آموزش ساخت دیجی استایل با لاراول</h3>
  </header>
  <div class="card__content">
    <div class="media">
      <ion-icon class="icon--small" name="eye-outline"></ion-icon>
      <a href="#">۸۵۸۲ بازدید</a>
    </div>
    <div class="media">
      <ion-icon class="icon--small" name="time-outline"></ion-icon>
      <a href="#">۵۲ دقیقه</a>
    </div>
    <div class="media">
      <ion-icon class="icon--small icon--star" name="star-outline"></ion-icon>
      <a href="#">۴.۷</a>
    </div>
  </div>

  <footer class="card__footer">
    <div class="media">
      <img class="media__user-image" src="images/user-1.jpg" alt="" />
      <a class="media__username" href="#">رابرت ویلسون</a>
    </div>
    <button class="btn btn--soft">
      <ion-icon class="icon--small" name="play-skip-forward-outline"></ion-icon>
      دوره آموزشی
    </button>
  </footer>
</div>
