<section class="block container footer">
  <div class="grid">
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">لینک مفید</h2>
        <div class="icon-container collapsible__chevron">
          <svg class="icon">
            <use xlink:href="images/sprite.svg#chevron-down-outline"></use>
          </svg>
        </div>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li>۱مورد</li>
          <li>۲مورد</li>
          <li>۳مورد</li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">لینک مفید</h2>
        <div class="icon-container collapsible__chevron">
          <svg class="icon">
            <use xlink:href="images/sprite.svg#chevron-down-outline"></use>
          </svg>
        </div>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li>۱مورد</li>
          <li>۲مورد</li>
          <li>۳مورد</li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">لینک مفید</h2>
        <div class="icon-container collapsible__chevron">
          <svg class="icon">
            <use xlink:href="images/sprite.svg#chevron-down-outline"></use>
          </svg>
        </div>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li>۱مورد</li>
          <li>۲مورد</li>
          <li>۳مورد</li>
        </ul>
      </div>
    </section>

    <div class="footer__appdown">
      <h2 class="collapsible__heading">دانلود اپلیکیشن</h2>
      <div class="icon-container">
        <svg class="icon icon--accent">
          <use xlink:href="images/sprite.svg#logo-google-playstore"></use>
        </svg>
        <div class="footer__link">
          <h4>گوگل پلی</h4>
          <a href="#">دریافت اپلیکیشن</a>
        </div>
      </div>
      <div class="icon-container">
        <svg class="icon icon--accent">
          <use xlink:href="images/sprite.svg#logo-apple"></use>
        </svg>
        <div class="footer__link">
          <h4>اپ استور</h4>
          <a href="#">دریافت اپلیکیشن</a>
        </div>
      </div>
    </div>
    <div class="footer__address">
      <div class="nav__brand">
        <h1>
          <a class="nav__band-name" href="/">LearnUp</a>
        </h1>
        <p>تهران-خیابان سعادت آباد-خیابان کاج</p>
        <p>۲۶۶-۴۵۵۰۶۹۵</p>
        <p>info@learup.com</p>
      </div>
    </div>
  </div>
</section>
