<section class="block block--dark hero">
  <div class="container grid grid--1x2">
    <header class="block__header hero__content">
      <h1 class="block__heading">اولین سامانه کلاس خصوصی آنلاین</h1>
      <p>
        هر موضوع را در هر زمان مطالعه کنید.هزاران دوره آموزشی را با کمترین قیمت
        جست و جو کنید!
      </p>
      <div class="btn-group">
        <button class="btn btn--accent">
          کسب اطلاعات
          <svg class="icon">
            <use xlink:href="images/sprite.svg#arrow-back-outline"></use>
          </svg>
        </button>
      </div>
    </header>
    <img class="hero__banner" src="images/edu_1.png" alt="" />
  </div>
</section>
