<section class="block container logo">
  <div class="block__header">
    <p>آموزشگاه های معتبر</p>
    <h4 class="block__heading">
      نمایندگان <span class="highlight">مورد اعتماد</span> حرفه ای ما
    </h4>
  </div>
  <div class="logo__content">
    <svg class="icon--logo">
      <use xlink:href="images/sprite.svg#Google-Logo.wine"></use>
    </svg>

    <svg class="icon--logo">
      <use xlink:href="images/sprite.svg#PayPal-Logo.wine"></use>
    </svg>

    <svg class="icon--logo">
      <use xlink:href="images/sprite.svg#Lenovo_Vibe_K4_Note-Logo.wine"></use>
    </svg>

    <svg class="icon--logo">
      <use xlink:href="images/sprite.svg#Slack_Technologies-Logo.wine"></use>
    </svg>

    <svg class="icon--logo">
      <use xlink:href="images/sprite.svg#Spotify-Logo.wine"></use>
    </svg>
  </div>
</section>
