<nav class="nav">
  <div class="nav__brand">
    <h2>
      <a class="nav__band-name" href="#">LearnUp</a>
    </h2>
  </div>

  <div class="nav__topic">
    <div class="collapsible">
      <header class="collapsible__header">
        <h3 class="collapsible__heading">خانه</h3>
        <svg class="icon--small collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron-down-outline"></use>
        </svg>
      </header>
      <ul class="collapsible__content list nav__list">
        <li class="nav__item">۱مورد</li>
        <li class="nav__item">۲مورد</li>
        <li class="nav__item">۳مورد</li>
      </ul>
    </div>
    <div class="collapsible">
      <header class="collapsible__header">
        <h3 class="collapsible__heading">خانه</h3>
        <svg class="icon--small collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron-down-outline"></use>
        </svg>
      </header>
      <ul class="collapsible__content list nav__list">
        <li class="nav__item">۱مورد</li>
        <li class="nav__item">۲مورد</li>
        <li class="nav__item">۳مورد</li>
      </ul>
    </div>
    <div class="collapsible">
      <header class="collapsible__header">
        <h3 class="collapsible__heading">خانه</h3>
        <svg class="icon--small collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron-down-outline"></use>
        </svg>
      </header>
      <ul class="collapsible__content list nav__list">
        <li class="nav__item">۱مورد</li>
        <li class="nav__item">۲مورد</li>
        <li class="nav__item">۳مورد</li>
      </ul>
    </div>
    <div class="collapsible">
      <header class="collapsible__header">
        <h3 class="collapsible__heading">خانه</h3>
        <svg class="icon--small collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron-down-outline"></use>
        </svg>
      </header>
      <ul class="collapsible__content list nav__list">
        <li class="nav__item">۱مورد</li>
        <li class="nav__item">۲مورد</li>
        <li class="nav__item">۳مورد</li>
      </ul>
    </div>
  </div>

  <div class="nav__btn">
    <button class="btn btn--primary">ورود</button>
    <button class="btn btn--secondary">ثبت نام</button>
  </div>
</nav>
