<section class="block plan">
  <header class="block__header">
    <p>دسته بندی های منتخب</p>
    <h3 class="block__heading">
      موضوعات و محورهای آموزشی <span class="highlight">منتخب</span>
    </h3>
  </header>
  <div class="grid container grid--1x3">
    <div class="card card--simple">
      <div class="icon-container">
        <ion-icon class="icon" name="logo-python"></ion-icon>
      </div>
      <div class="card__body">
        <h3 class="card__heading">برنامه نویسی وب</h3>
        <div class="media">
          <ion-icon class="icon--small" name="film-outline"></ion-icon>
          <a href="#">۸۵ دوره آموزشی</a>
        </div>
      </div>
    </div>
    <div class="card card--simple">
      <div class="icon-container">
        <ion-icon class="icon" name="logo-python"></ion-icon>
      </div>
      <div class="card__body">
        <h3 class="card__heading">برنامه نویسی وب</h3>
        <div class="media">
          <ion-icon class="icon--small" name="film-outline"></ion-icon>
          <a href="#">۸۵ دوره آموزشی</a>
        </div>
      </div>
    </div>
    <div class="card card--simple">
      <div class="icon-container">
        <ion-icon class="icon" name="logo-python"></ion-icon>
      </div>
      <div class="card__body">
        <h3 class="card__heading">برنامه نویسی وب</h3>
        <div class="media">
          <ion-icon class="icon--small" name="film-outline"></ion-icon>
          <a href="#">۸۵ دوره آموزشی</a>
        </div>
      </div>
    </div>
    <div class="card card--simple">
      <div class="icon-container">
        <ion-icon class="icon" name="logo-python"></ion-icon>
      </div>
      <div class="card__body">
        <h3 class="card__heading">برنامه نویسی وب</h3>
        <div class="media">
          <ion-icon class="icon--small" name="film-outline"></ion-icon>
          <a href="#">۸۵ دوره آموزشی</a>
        </div>
      </div>
    </div>
    <div class="card card--simple">
      <div class="icon-container">
        <ion-icon class="icon" name="logo-python"></ion-icon>
      </div>
      <div class="card__body">
        <h3 class="card__heading">برنامه نویسی وب</h3>
        <div class="media">
          <ion-icon class="icon--small" name="film-outline"></ion-icon>
          <a href="#">۸۵ دوره آموزشی</a>
        </div>
      </div>
    </div>
    <div class="card card--simple">
      <div class="icon-container">
        <ion-icon class="icon" name="logo-python"></ion-icon>
      </div>
      <div class="card__body">
        <h3 class="card__heading">برنامه نویسی وب</h3>
        <div class="media">
          <ion-icon class="icon--small" name="film-outline"></ion-icon>
          <a href="#">۸۵ دوره آموزشی</a>
        </div>
      </div>
    </div>
    <div class="card card--simple">
      <div class="icon-container">
        <ion-icon class="icon" name="logo-python"></ion-icon>
      </div>
      <div class="card__body">
        <h3 class="card__heading">برنامه نویسی وب</h3>
        <div class="media">
          <ion-icon class="icon--small" name="film-outline"></ion-icon>
          <a href="#">۸۵ دوره آموزشی</a>
        </div>
      </div>
    </div>
    <div class="card card--simple">
      <div class="icon-container">
        <ion-icon class="icon" name="logo-python"></ion-icon>
      </div>
      <div class="card__body">
        <h3 class="card__heading">برنامه نویسی وب</h3>
        <div class="media">
          <ion-icon class="icon--small" name="film-outline"></ion-icon>
          <a href="#">۸۵ دوره آموزشی</a>
        </div>
      </div>
    </div>
    <div class="card card--simple">
      <div class="icon-container">
        <ion-icon class="icon" name="logo-python"></ion-icon>
      </div>
      <div class="card__body">
        <h3 class="card__heading">برنامه نویسی وب</h3>
        <div class="media">
          <ion-icon class="icon--small" name="film-outline"></ion-icon>
          <a href="#">۸۵ دوره آموزشی</a>
        </div>
      </div>
    </div>
  </div>
</section>
